@import "../../src/index.css";

html, body, #root {
  height: 100%;
  overflow: hidden !important;
}

.app-drag {
  -webkit-app-region: drag;
  user-select: none;
}

.app-no-drag {
  -webkit-app-region: no-drag;
}
